{% extends "base.html" %}
{% block title %}New{% endblock %}

{% block content %}

{% if results %}
 <h2>Results</h2>
 <pre>{{ results }}</pre>

{% else %}

<h2>Please enter your data</h2>
<form method="GET" action="{{ url_for('index') }}">
<table>
 {% for i in fields %}
  <tr>
   <th align=left valign=top> {{ i.split('=')[0] | replace('.',': ')}} </th>
   <td> <input type=input name='{{ i.split('=')[0] }}' size='60'
    value='{% if args[i] is defined %}{{ args[i] }}{% else %}{{ i.split('=')[1] }}{% endif %}' >
   </td>
  </tr>
 {% endfor %}
  <tr>
   <th></th>
   <td> <input type=submit value='Submit'>
   </td>
  </tr>
</table>
</form>

{% endif %}

{% endblock content %}
